main{
    margin: 20px auto 20px auto;

}
body{
    padding: 0;
    margin: 0;
}


img{
    width: 100%;
    display: block;
    margin: 1% auto;
    border:2px solid black;
}
nav{
    background: grey;
    /* height: 60px; */
    text-align: center;
    font-family:
}
nav a{
    text-align: center;
    color:white;
    font-size: 1.5em;
    padding: 5px;
    margin: 10px;
}
.flexbox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.flexItem{
    flex-basis: 300px;
    flex-grow: 2;
    margin: 2px;
}



@media screen and (min-width: 700px) {
        .flexItem{
            height:400px;
        }
        img{
            width:30%;
            display: inline;

        }
        .vertical{
            width:10%;
        }
}


@media screen and (min-width: 1300px) {
    flexItem{
        flex-basis: 30%;
    }
    .vertical{
        width: 30%;
    }
}
