main{
    margin: 20px auto 20px auto;

}
body{
    padding: 0;
    margin: 0;
}


img{
    width: 100%;
    display: block;
    margin: 1% auto;
    border:2px solid black;
}
nav{
    background: grey;
    /* height: 60px; */
    text-align: center;
    font-family: font-family: 'Open Sans', sans-serif;
}
nav a{
    text-align: center;
    color:white;
    font-size: 1.5em;
    padding: 5px;
    margin: 10px;
}
main{
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
        /* flex-direction: row; */
}
.flexItem{
    flex-basis: 300px;
    flex-grow: 2;
    margin: 2px;
    background: yellow;
    padding: 30px;
}
img{
    width: 100%
    display: block;
    margin: 1% auto;
}


/* medium styles below */
@media screen and (min-width: 700px) {

        img{
            width:30%;
            display: inline;

        }

}

/* large screen styles below */
@media screen and (min-width: 1300px) {
        img{

        }
}
